@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-navbar: #344B59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    background-color:var(--color-navbar);
    padding-block: 10px;
    position: relative;
}

/* Navegação */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin-inline: auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo .title-logo {
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
}

.navbar-nav {
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-item .nav-link {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: #ccc;
    }
}
.btn-navbar {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.2rem;
    outline: none;
}
/* Tela de Login */

.container-login {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px;
    margin-inline: auto;
}
.header-login {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.title-login {
    font-weight: 500;
}

/* Formulario de login */

#form_login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
.input-login {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 100%;
}
.input-login:focus {
    border: 1px solid #17a2b8;
}
#btn_login {
    background-color: #17a2b8;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding-block: 12px;
}
#btn_login:hover {
    background-color: #117686;
}

/* Estilos da Home */

.container-home {
    box-shadow: 0 0 8px 0px rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow: hidden;
    max-width: 1200px;
    margin-inline: auto;
}

.header-home {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.title-home {
    color: #344B59;
    font-weight: 500;
    text-transform: capitalize;
    text-indent: 10px;
}

.menu-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 30px;
}
.card-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-home {
    text-decoration: none;
}
.img-home {
    width: 100px;
}
.description-home {
    color: #344B59;
    cursor: pointer;
    font-size: .9rem;
    text-transform: capitalize;
}

/* Estilos Abrir chamado */

.container-open {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
}
.header-open {
    background-color: #f2f2f2;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px;
}
.title-open {
    color: #344B59;
    font-weight: 500;
}
.title-open i {
    font-size: 1.3rem;
}
#form_open {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.form-control label {
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
}

.form-control input,
.form-control select,
.form-control textarea {
    color: #585858;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 100%;

    &:focus {
        box-shadow: 0 0 7px 1px #3D9DD9;
    }
}
.form-control textarea {
    height: 6rem;
}

.btns-open {
    display: flex;
    gap: 20px;
}
.btn-back, #btn_open {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.btn-back {
    background-color: #F2D022;
    color: #000;
    display: block;
}
.btn-back:hover {
    background-color: #F2BB16;
}

#btn_open {
    background-color: var(--color-navbar);
    color: #fff;
    width: 50%;
}
#btn_open:hover {
    background-color:#476272;
}

/* Estilos de Consulta de Chamados */
.container-consult {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1200px;
    margin-inline: auto;
}
.header-consult {
    background-color: #f2f2f2;
    padding: 20px;
}
.title-consult {
    color: #344B59;
    font-weight: 500;
}
.card-body {
    padding: 20px;
}
.card {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos dos conteúdos principais */
main#login,
main#home,
main#open_ticket,
main#consult {
    padding: 50px;
}


/* Media queries */

@media screen and (max-width: 720px){
    .navbar {
        max-width: 90%;
    }
    .btn-navbar {
        display: block;
    }
    .menu-dropdown {
        background-color: #f2f2f2;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
        position: absolute;
        top: 60px;
        right: 20px;
        height: 0;
        interpolate-size: allow-keywords;
        transition: height .5s ease;
        overflow: hidden;
    }

    .menu-dropdown.active {
        height: auto;
    }
    .navbar-nav {
        flex-direction: column;
        gap: 5px;
    }
    .nav-item:hover {
        background-color: #117686;
        color: #fff;
    }
    .nav-item .nav-link {
        color: #000;
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}